a:hover {
    color: #ff9900;
    text-decoration:none;
}
a::after section{
    color: red;    
}
.link{
    padding-left: 40em;
    position: relative;
    display: inline;
}
body{
    
    background-image: url(wp4697678.jpg);
    background-repeat: no-repeat;
    
    
}

input:focus {
    border-color: #a74caf;
}
#name{
    width: 30%;
    padding: 7px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}
#age{
    width: 30%;
    padding: 7px 21px;
    margin: 11px 43px;
    box-sizing: border-box;
}
h2{
    color: #d3eb7e;
    text-align: center;
    text-decoration: underline;
}
video {
    height: auto;
    width: auto;
        
    padding-right: 5em;
} 

form{
    align-items: center;
    font-size: 23px;
    padding-top: 5em;
    size: 5em;
    padding-left: 30em;
    
}
#luffy{
    width: 388px;
    height: 379px;
}
h1{
    font-family: "Helvetica Neue", sans-serif;
    font-size: 24px;
    font-weight: bold;
    display: inline;
    background-color: aliceblue;
}
#cool{
    display: flex;
    padding-left: 20em;

}
p{

    font-family: Arial, sans-serif;
    font-size: 25px;
    text-align: center;
    
}
#gojo{
    font-size: 40px;
    padding-left: 9em;
    color: #ff9900;
}
#goku{
    font-size: 40px;
    /* padding-left: 28em; */
    color: #ff9900;
}
.container text-center{
    display: inline;
    background-color: rgb(160, 195, 224) ;
}
#row{
    font-size: 1.5rem;
    background-color: rgb(160, 195, 224);
    align-items: center;
    position: sticky;
}
#naruto{
    height: 50px;
    width: 50px;
    border-radius: 4px;
    
}
nav{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif ;
}